$line-height: 20px;
$line-vspace: 6px;

body {
    background: #444;
    color: #ffa;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    font-size: $line-height - $line-vspace;
    line-height: $line-height;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
